<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart-To-List</title>
</head>
<body>

    <header>

    </header>

  <div align="center" style="padding-top: 100px" >
      <h4 style="display:inline; padding-right: 20px">Register</h4>
      <form method="POST" action="/register" style="display:inline">
          <INPUT TYPE="EMAIL" NAME="email" PLACEHOLDER="Email"/>
          <INPUT TYPE="PASSWORD" NAME="password" PLACEHOLDER="Password"/>
          <INPUT TYPE="SUBMIT" NAME="button" Value="Register" class="btn btn-primary"/>
      </form>
  </div>
</body>
</html>
