@import '../node_modules/bootstrap/scss/bootstrap';

$sizing-unit: 7px;
$border-radius: 7px;
$border-color: lighten(black, 75);
$background-color: lighten(black, 90);
$title-font-style: "Cookie";
$body-font-style: "Raleway";
$color-header-cat0: #A09EB8;
$color-background-cat0: #F1EFFB;
$color-header-cat1: #FAE29A;
$color-background-cat1: #FAF7E1;
$color-header-cat2: rgba(78, 96, 133, 0.67);
$color-background-cat2: #EEF2FA;
$color-header-cat3: #DFC29E;
$color-background-cat3: #FAEEE3;
$color-header-cat4: #abb89e;
$color-background-cat4: #f0faee;
$min-width: 460px;

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $background-color;
  z-index: -1;
  font-family: $body-font-style;
  font-size: $sizing-unit * 4;
}

.btn.btn-primary {
  color: $background-color;
  background-color: black;
  border-color: black;
  font-size: $sizing-unit * 4;
}

h4 {
  font-size: $sizing-unit * 4;
}

.logout-button {
  margin: 5px 0 0 10px;
}

.mx-auto {
  width: 80%;
}

#nav-bar .header {
  font-family: $title-font-style;
  font-size: $sizing-unit * 15;
  min-width: $min-width + 100px;
}

.nav-user-id {
  margin: 0 0 0 10px;
}

// Todo list Styling
@import "todo";

// Todo list Styling
@import "responsive_design";

