@import '../node_modules/bootstrap/scss/bootstrap';

$sizing-unit: 7px;
$border-radius: 7px;
$border-color: lighten(black, 75);
$background-color: lighten(black, 90);
$title-font-style: "Cookie";
$body-font-style: "Raleway";
$color-header-cat0: #A09EB8;
$color-background-cat0: #F1EFFB;
$color-header-cat1: #FAE29A;
$color-background-cat1: #FAF7E1;
$color-header-cat2: rgba(78, 96, 133, 0.67);
$color-background-cat2: #EEF2FA;
$color-header-cat3: #DFC29E;
$color-background-cat3: #FAEEE3;
$min-width: 460px;

body {
  background-color: $background-color;
  z-index: -1;
  font-family: $body-font-style;
  font-size: $sizing-unit * 3;
}

.mx-auto {
  width: 80%;
}

#nav-bar .header {
  font-family: $title-font-style;
  font-size: $sizing-unit * 12;
  min-width: $min-width + 100px;
}

// Todo list Styling
@import "todo";

// Todo list Styling
@import "responsive_design";

