

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: lighten(black, 90);
  z-index: -1;
  font-family: "Raleway";
}

main {
  font-size: 16px;
}

.new-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 2em 1em;
}

.todo-button {
  border-radius: 7px;
  margin-left: 1em;
}

.todo-post-box {
  width: 350px;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 7px;
}

.item-text {
  display: inline;
  flex-grow: 1;
  height: 1.5em;
}

ul {
  padding: 0;
}

.fa-circle-o,
.fa-trash-o,
.fa-circle {
  padding: 0 0.5em 0;
}

.item-wrapper {
  display: flex;
  align-items: center;
  list-style-type: none;
}

#nav-bar .header {
  font-family: "Cookie";
  color: black;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  font-size: 60px;
  margin: 0;
}

.todo-list {
  background-color: white;
  padding: 2px 5px;
  border-radius: 7px;
  border: 1px solid lighten(black, 90);
}

.todo-list {
  padding: 0;
}

.todo-list-0 {
  background-color: #F1EFFB;
}

.todo-list-0 h5 {
  background-color: #A09EB8;
}


.todo-list-0 .circle-button .fa-circle {
  color: #A09EB8;
}

.todo-list-0 .circle-button .fa-circle-o {
  color: #A09EB8;
}

.todo-list-1 {
  background-color: #FAF7E1;
}

.todo-list-1 h5 {
  background-color: #F3E6BD;
}

.todo-list-1 .circle-button .fa-circle {
  color: #F3E6BD;
}

.todo-list-1 .circle-button .fa-circle-o {
  color: #F3E6BD;
}

.todo-list-2 {
  background-color: #EEF2FA;
}

.todo-list-2 h5 {
  background-color: rgba(78, 96, 133, 0.67);
}

.todo-list-2 .circle-button .fa-circle {
  color: rgba(78, 96, 133, 0.67);
}

.todo-list-2 .circle-button .fa-circle-o {
  color: rgba(78, 96, 133, 0.67);
}

.todo-list-3 {
  background-color: #FAEEE3;
}

.todo-list-3 h5 {
  background-color: #DFC29E;
}

.todo-list-3 .circle-button .fa-circle {
  color: #DFC29E;
}

.todo-list-3 .circle-button .fa-circle-o {
  color: #DFC29E;
}
