@media only screen and (max-device-width: 976px) {
  body, main {
    font-size: $sizing-unit * 7;
  }

  .mx-auto {
    width: 800px;
  }

  .fa-circle-o,
  .fa-circle-thin,
  .fa-trash-o,
  .fa-circle {
    padding: 0 0.1em 0 0.1em;
  }

  h5 {
    font-size: $sizing-unit * 12;
  }

  #nav-bar .header {
    font-size: $sizing-unit * 22;
  }

  .todo-button {
    display: none;
  }

  .todo-post-box {
    width: 800px;
    height: 3em;
  }

}