.auto-wrap {
  word-wrap: break-word;
  hyphens: auto;
}

.category-button .cat-color-0.alternate-category.fa-circle-o {
  color: $color-header-cat0;
}

.category-button .cat-color-1.alternate-category.fa-circle-o {
  color: $color-header-cat1;
}

.category-button .cat-color-2.alternate-category.fa-circle-o {
  color: $color-header-cat2;
}

.category-button .cat-color-3.alternate-category.fa-circle-o {
  color: $color-header-cat3;
}

.fa-minus {
  height: 10px;
  float: right;
  padding-right: 15px;
}

.fa-circle-o,
.fa-circle-thin,
.fa-trash-o,
.fa-circle {
  padding: 0 0.5em 0 0.5em;
}

h5 {
  border-radius: $border-radius;
  text-align: center;
  margin: 0;
  font-size: $sizing-unit * 5;
}

.item-text {
  display: inline;
  flex-grow: 1;
}

.item-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
}

.logout-form {
  display:inline-block;
}


.nav-user-id {
  float:right;
}

.new-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 2em 1em;
  min-width: $min-width + 100px;
}

.todo-button {
  border-radius: $border-radius;
  margin-left: 1em;
  background-color: black;
  color: $background-color;
  border-color: black;
}

.todo-list {
  background-color: white;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  min-width: $min-width;
}

.todo-list-0 {
  background-color: $color-background-cat0;
}

.todo-list-0 h5 {
  background-color: $color-header-cat0;
}

.todo-list-0 .category-button .cat-color-0.current-category.fa-circle {
  color: $color-header-cat0;
}

.todo-list-1 {
  background-color: $color-background-cat1;
}

.todo-list-1 h5 {
  background-color: $color-header-cat1;
}

.todo-list-1 .category-button .cat-color-1.current-category.fa-circle  {
  color: $color-header-cat1;
}

.todo-list-2 {
  background-color: $color-background-cat2;
}

.todo-list-2 h5 {
  background-color: $color-header-cat2;
}

.todo-list-2 .category-button .cat-color-2.current-category.fa-circle  {
  color: $color-header-cat2;
}

.todo-list-3 {
  background-color: $color-background-cat3;
}

.todo-list-3 h5 {
  background-color: $color-header-cat3;
}

.todo-list-3 .category-button .cat-color-3.current-category.fa-circle {
  color: $color-header-cat3;
}

.todo-post-box {
  width: 475px;
  height: 2.5em;
  padding: 0.5em;
  border-radius: $border-radius;
}

ul {
  padding: .5em 0 .5em;
  margin: 0;
}
